.title {
  font-family: "font-file-82132", sans-serif;
  color: #08fdd8;
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 40px;
  font-size: 3.3rem;
  line-height: 6.7rem;
}
