:root{
  /**
   *  ========> COLORS
   * */
  --primary-color: hsl(0deg, 0%, 10%);
  --secondary-color: hsl(0deg, 0%, 20%);
  --accent-color: hsl(275deg, 77%, 49%);
  --complementary-color: hsl(174deg, 98%, 57%);
	  
  --white: #FFF;
  --light: hsl(0deg, 0%, 96%);
  --secondary-light: hsl(0deg, 0%, 92%);
  --blue: hsl(202deg, 84%, 36%);
  --red: hsl(350deg, 100%, 50%);
  --red-contrast: hsl(0deg, 100%, 31%);

  --background-dark: var(--primary-color);
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


/**
 * ===========
 *	Generals
 * ===========
 * */

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #FFF;
  color: var(--white);
  background-color: hsl(0deg, 0%, 10%);
  background-color: var(--background-dark);
}

.wrapper{
  /** === Max whidth monile only  ===*/
  width: 90%;
  margin: auto;
}

h1,h2,h3{
  font-family: 'Montserrat';
}

.grid {
  display: grid;
}

.flex{
  display: -webkit-box;
  display: flex
}

.flex.wrap{
	flex-wrap: wrap;
  }

.flex.column{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
  }

.flex.main-axis.center{
	  -webkit-box-pack: center;
	          justify-content: center;
	}

.flex.main-axis.end{
	  -webkit-box-pack: end;
	          justify-content: flex-end;
	}

.flex.main-axis.around{
	  justify-content: space-around;
	}

.flex.main-axis.evenly{
	  -webkit-box-pack: space-evenly;
	          justify-content: space-evenly;
	}

.flex.main-axis.between{
	  -webkit-box-pack: justify;
	          justify-content: space-between;
	}

.flex.cross-axis.center{
	  -webkit-box-align: center;
	          align-items: center;
	}

.flex.cross-axis.end{
	  -webkit-box-align: end;
	          align-items: flex-end;
	}

.flex.cross-axis.strech{
	  -webkit-box-align: stretch;
	          align-items: stretch;
	}

.unstyle-list{
  list-style: none;
  padding: 0;
}

.unstyle-decorate{
  text-decoration: none;
  list-style: none;
}

main, header, footer{
  padding: 0 1em;
}

a{
  color: hsl(174deg, 98%, 57%);
  color: var(--complementary-color);
}

/**
 * ===========
 *	 MENU
 * ===========
 * */
  .menu{
	padding: 0 16px;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 200px;
	background-color: hsl(0deg, 0%, 20%);
	background-color: var(--secondary-color);
	box-shadow: 2px 0 3px 4px rgb(153, 153, 153);
	box-shadow: 2px 0 3px 4px rgb(153, 153, 153);
	-webkit-transform: translateX(-450px);
	        transform: translateX(-450px);
	-webkit-transition:  .5s;
	transition:  .5s;
	z-index: 1;
	 /* ==> spread menu list & menu social networks  <==*/
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
	-webkit-box-pack: justify;
	        justify-content: space-between
  }
  .menu.active{
	  -webkit-transform: translateX(0);
	          transform: translateX(0);
	}
  .menu .menu__list{
	  padding: 0 1em;
	}
  .menu .list__item{
	  margin: .9em 0;
	}
  .menu .list__item--title{
	  margin: 0
	}
  .menu .list__item--title + .list__item--description{
		font-size: .7em;
		font-family: Acme;
	  }
  .menu .list__item a {
	  color: hsl(174deg, 98%, 57%);
	  color: var(--complementary-color)
	}
  .menu .list__item a:hover{
		color: rgb(38, 179, 164);
		color: rgb(38, 179, 164);
	  }
  .menu .social__container{
	  width: 100%;
	}
  .menu .switch-theme{
	  position: relative;
	  width: 2rem;
	  height: .9rem
	}
  .menu .switch-theme .switch-theme__check{
		background-color: hsl(0deg, 0%, 10%);
		background-color: var(--primary-color);
		border-radius: .6rem;
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
		-webkit-transition: .5s;
		transition: .5s
	  }
  .menu .switch-theme .switch-theme__check:before{
		  content: "";
		  width: 1rem;
		  height: .9rem;
		  background-color: hsl(174deg, 98%, 57%);
		  background-color: var(--complementary-color);
		  position: absolute;
		  left: 0;
		  bottom: 0;
		  border-radius: 50%;
		  -webkit-transition: .4s;
		  transition: .4s;
		}
  .menu .switch-theme > input{
		display: none
	  }
  .menu .switch-theme > input:checked + .switch-theme__check{
		  background-color: hsl(0deg, 0%, 96%);
		  background-color: var(--light)
		}
  .menu .switch-theme > input:checked + .switch-theme__check:before{
			background-color: hsl(275deg, 77%, 49%);
			background-color: var(--accent-color);
			-webkit-transform: translateX(1rem);
			        transform: translateX(1rem);
		  }

.menu-icon{
  display: block;
  position: fixed;
  top: 1em;
  left: .8em;
  z-index:2;
  cursor: pointer;
  height: 10px;
  width: 10px
}

.menu-icon .fas {
	font-size: 1.4em;
	color: hsl(202deg, 84%, 36%);
	color: var(--blue);
  }



/**
 * ==========
 *	Header
 * ===========
 * */
.wrapper__container{
  text-align:center
}
.wrapper__container .wrapper__title{
	font-family: 'Oswald Stencil';
  }
.wrapper__container .wrapper__container__img{
	width: 100%;
	margin: auto
  }
.wrapper__container .wrapper__container__img img{
	  width: inherit;
	}


/**
 * ===========
 *	Biography
 * ===========
 * */
.biography__container {
  width: 100%
}
.biography__container .title--biography{
	font-family: 'Oswald DemiBold';
  }
.biography__container .photo-me{
	width: 100%;
	display:-webkit-box;
	display:flex;
	margin: 2em 0;
	-webkit-clip-path: circle(39% at 50%);
	        clip-path: circle(39% at 50%)
  }
.biography__container .photo-me img{
	  width: inherit;
	}

.biography{
  margin: auto
}

.biography p {
	line-height: 1.5em;
  }


/**
 * ========
 *	Resume
 * =========
 * */
.resume h5, .resume h6{
	font-family: Acme;
  }
.resume li:before{
	content: '✔︎';
	margin-right: .3rem;
	color: hsl(174deg, 98%, 57%);
	color: var(--complementary-color);
  }

.title--skills:not(h6){
  font-family: 'Oswald DemiBold';
  font-size: 1.5em;
}

.github + figure > img{
  width:  100%;
}

.color-gradient{
  border: none;
  height: 1px;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(hsl(275deg, 77%, 49%)), to(hsl(174deg, 98%, 57%)));
  background: linear-gradient(to left, hsl(275deg, 77%, 49%), hsl(174deg, 98%, 57%));
  background: -webkit-gradient(linear, right top, left top, from(var(--accent-color)), to(var(--complementary-color)));
  background: linear-gradient(to left, var(--accent-color), var(--complementary-color));
  grid-column: span 2 ;
}

.skill-container .skill-col {
    grid-template-columns: repeat(2, 1fr) ;
  }

.skill-container .skill-col:first-child {
    grid-template-columns: repeat(3, 1fr);
  }

.skill-container .skill-col {
    grid-gap: .4em;
    gap: .4em
  }

.skill-container .skill-col div {
      align-self: stretch;
      justify-self: center
    }

.skill-container .skill-col div .skills{
        margin: .8em 0;
        text-align: center;
      }

.skill-col .title--skills.skills{
	font-family: Acme;
	font-size: 1em;
  }

.skill-col .list-skills{
	list-style: none;
	margin: 0 1em
  }

.skill-col .list-skills:before{
	  content: '✔︎';
	  margin-right: .3rem;
	  color: hsl(174deg, 98%, 57%);
	  color: var(--complementary-color);
	}

.experience-container{
  grid-column-start: 1;
  grid-column-end: span 2;
  text-align: center
}

.experience-container .title--skills{
	font-family: 'Montserrat bolb';
	font-size: 1em;
  }

/**
 * ==========
 *	Footer
 * ==========
 * */
.footer{
  text-align: center
}
.footer .footer__title{
	font-family: 'Oswald Stencil';
	font-size: 2em;
	color: hsl(174deg, 98%, 57%);
	color: var(--complementary-color);
	text-shadow: -4px 3px 6px hsl(275deg, 77%, 49%);
	text-shadow: -4px 3px 6px var(--accent-color);
  }
.footer .contact{
	font-family: 'Montserrat thin';
	background: hsl(202deg, 84%, 36%);
	background: var(--blue);
	color: #FFF;
	color: var(--white);
	border-radius: 4px;
	padding: 1em;
	border: none;
	cursor: pointer;
  }
.footer .copy-right{
	font-family: 'Oswald Stencil';
  }


/**
 * ==============
 *	Light Theme
 * ==============
 * */
.light{
  background-color: #FFF;
  background-color: var(--white);
  color: hsl(0deg, 0%, 20%);
  color: var(--secondary-color)
}
.light .menu{
	  background-color: hsl(0deg, 0%, 92%);
	  background-color: var(--secondary-light);
	  box-shadow: 2px 0px 3px 4px hsl(0, 0%, 70%);
	  box-shadow: 2px 0px 3px 4px hsl(0, 0%, 70%)
  }
.light .menu .list__item a{
		color: hsl(275deg, 77%, 49%);
		color: var(--accent-color)
	  }
.light .menu .list__item a:hover {
		  color: hsl(275, 77%, 40%);
		  color: hsl(275, 77%, 40%);
		}
.light .menu .social__item a {
		color: hsl(275deg, 77%, 49%);
		color: var(--accent-color);
	  }
.light .biography a, .light li:before, .light .resume a, .light .list-skills:before{
	color: hsl(275deg, 77%, 49%);
	color: var(--accent-color);
  }
.light .footer__title {
	color: hsl(275deg, 77%, 49%);
	color: var(--accent-color);
	text-shadow: -1px 0px 2px #000;
  }

/**
 * =========
 *	@media for device grater than ipad
 *	allocate nav and burger menu.
 * */
@media only screen and (max-width: 399px){
  .skill-container .skill-col:first-child{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-device-width: 769px) {
 
  .menu-icon{
    display: none;
  }

  .menu{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    position: relative;
    width: 98%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    box-shadow: none
  }
    .menu .menu__list, .menu .social-container{
      display: -webkit-box;
      display: flex;
      margin: 0;
      padding: 10px 0px;
      -webkit-box-align: center;
              align-items: center
    }
      .menu .menu__list li, .menu .menu__list label, .menu .social-container li, .menu .social-container label {
        margin: 0 .5rem;
      }

    .menu .social-container a:hover {
      -webkit-animation: rotate .7s ease-in-out;
              animation: rotate .7s ease-in-out;
    }
  
  /**
  * ==========
  *	Header
  * ===========
  * */
  .wrapper__container{
    display:  grid;
    margin-top: 1.5em;
    grid-gap: 5em;
    gap: 5em;
    grid-template-columns: .5fr 1fr
  }

    .wrapper__container .title-description{
      align-self: center;
    }

  /**
   * ============
   *  Biography
   * ===========
   * */
  .biography-container{
    display: -webkit-box;
    display: flex
  }
    .biography-container .photo-me{
      -webkit-box-ordinal-group: 0;
              order: -1;
    }

  /**
   * ========
  *   Resume
  * =========
  * */
  .resume__container--skills  {
    display: grid;
    grid-template-columns: 1fr 2fr
  }

    .resume__container--skills .title--skills {
      margin: .5rem;
      grid-column: span 1;
    }

    .resume__container--skills .abilities{
      grid-column: 2 / span 1;
      grid-row:  1 / span 2;
      grid-template-columns: 1fr
    }
      .resume__container--skills .abilities .title--skills{
        justify-self: center;
      }
}

  @-webkit-keyframes rotate {
    to {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    10%{
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    15%{
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }

  @keyframes rotate {
    to {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    10%{
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    15%{
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }

