:root{
  /**
   *  ========> COLORS
   * */
  --primary-color: hsl(0deg, 0%, 10%);
  --secondary-color: hsl(0deg, 0%, 20%);
  --accent-color: hsl(275deg, 77%, 49%);
  --complementary-color: hsl(174deg, 98%, 57%);
	  
  --white: #FFF;
  --light: hsl(0deg, 0%, 96%);
  --secondary-light: hsl(0deg, 0%, 92%);
  --blue: hsl(202deg, 84%, 36%);
  --red: hsl(350deg, 100%, 50%);
  --red-contrast: hsl(0deg, 100%, 31%);

  --background-dark: var(--primary-color);
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


/**
 * ===========
 *	Generals
 * ===========
 * */

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: var(--white);
  background-color: var(--background-dark);
}

.wrapper{
  /** === Max whidth monile only  ===*/
  width: 90%;
  margin: auto;
}

h1,h2,h3{
  font-family: 'Montserrat';
}

.grid {
  display: grid;
}

.flex{
  display: flex;

  &.wrap{
	flex-wrap: wrap;
  }

  &.column{
	flex-direction: column;
  }

  &.main-axis{
	&.center{
	  justify-content: center;
	}
	&.end{
	  justify-content: flex-end;
	} 
	&.around:{
	  justify-content: space-around;
	}
	&.evenly{
	  justify-content: space-evenly;
	}
	&.between{
	  justify-content: space-between;
	}
  }

  &.cross-axis{
	&.center{
	  align-items: center;
	}

	&.end{
	  align-items: flex-end;
	}

	&.strech{
	  align-items: stretch;
	}
  }
}

.unstyle-list{
  list-style: none;
  padding: 0;
}

.unstyle-decorate{
  text-decoration: none;
  list-style: none;
}

main, header, footer{
  padding: 0 1em;
}

a{
  color: var(--complementary-color);
}

/**
 * ===========
 *	 MENU
 * ===========
 * */
  .menu{
	padding: 0 16px;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 200px;
	background-color: var(--secondary-color);
	box-shadow: 2px 0 3px 4px color-mod(var(--white) shade(40%));
	transform: translateX(-450px);
	transition:  .5s;
	z-index: 1;
	 /* ==> spread menu list & menu social networks  <==*/
        flex-direction: column;
	justify-content: space-between;

	
	&.active{
	  transform: translateX(0);
	}

	& .menu__list{
	  padding: 0 1em;
	}

	& .list__item{
	  margin: .9em 0;
	}

	& .list__item--title{
	  margin: 0;
	  & + .list__item--description{
		font-size: .7em;
		font-family: Acme;
	  }
	}

	& .list__item a {
	  color: var(--complementary-color);
	  &:hover{
		color: color-mod(var(--complementary-color) blackness(30%));
	  }
	}

	& .social__container{
	  width: 100%;
	}

	& .switch-theme{
	  position: relative;
	  width: 2rem;
	  height: .9rem;

	  & .switch-theme__check{
		background-color: var(--primary-color);
		border-radius: .6rem;
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
		transition: .5s;

		&:before{
		  content: "";
		  width: 1rem;
		  height: .9rem;
		  background-color: var(--complementary-color);
		  position: absolute;
		  left: 0;
		  bottom: 0;
		  border-radius: 50%;
		  transition: .4s;
		}
	  }

	  & > input{
		display: none;
		&:checked + .switch-theme__check{
		  background-color: var(--light);
		  &:before{
			background-color: var(--accent-color);
			transform: translateX(1rem);
		  }
		}
	  }
	}
  }

.menu-icon{
  display: block;
  position: fixed;
  top: 1em;
  left: .8em;
  z-index:2;
  cursor: pointer;
  height: 10px;
  width: 10px;

  & .fas {
	font-size: 1.4em;
	color: var(--blue);
  }
}



/**
 * ==========
 *	Header
 * ===========
 * */
.wrapper__container{
  text-align:center;
  & .wrapper__title{
	font-family: 'Oswald Stencil';
  }

  & .wrapper__container__img{
	width: 100%;
	margin: auto;
	
	& img{
	  width: inherit;
	}
  }
}


/**
 * ===========
 *	Biography
 * ===========
 * */
.biography__container {
  width: 100%;

  & .title--biography{
	font-family: 'Oswald DemiBold';
  }

  & .photo-me{
	width: 100%;
	display:flex;
	margin: 2em 0;
	clip-path: circle(39% at 50%);
	& img{
	  width: inherit;
	}
  }
}

.biography{
  margin: auto;

  & p {
	line-height: 1.5em;
  }
}


/**
 * ========
 *	Resume
 * =========
 * */
.resume{

  & h5, & h6{
	font-family: Acme;
  }

  & li:before{
	content: '✔︎';
	margin-right: .3rem;
	color: var(--complementary-color);
  }
}

.title--skills:not(h6){
  font-family: 'Oswald DemiBold';
  font-size: 1.5em;
}

.github + figure > img{
  width:  100%;
}

.color-gradient{
  border: none;
  height: 1px;
  width: 100%;
  background: linear-gradient(to left, var(--accent-color), var(--complementary-color));
  grid-column: span 2 ;
}

.skill-container{
  & .skill-col {
    grid-template-columns: repeat(2, 1fr) ;
  }
  & .skill-col:first-child {
    grid-template-columns: repeat(3, 1fr);
  }

  & .skill-col {
    gap: .4em;

    & div {
      align-self: stretch;
      justify-self: center;

      & .skills{
        margin: .8em 0;
        text-align: center;
      }
    }
  }

}

.skill-col{
  & .title--skills.skills{
	font-family: Acme;
	font-size: 1em;
  }

  & .list-skills{
	list-style: none;
	margin: 0 1em;
	&:before{
	  content: '✔︎';
	  margin-right: .3rem;
	  color: var(--complementary-color);
	}
  }
}

.experience-container{
  grid-column-start: 1;
  grid-column-end: span 2;
  width: 200%;
  text-align: center;
  & .title--skills{
	font-family: 'Montserrat bolb';
	font-size: 1em;
  }
}

/**
 * ==========
 *	Footer
 * ==========
 * */
.footer{
  text-align: center;

  & .footer__title{
	font-family: 'Oswald Stencil';
	font-size: 2em;
	color: var(--complementary-color);
	text-shadow: -4px 3px 6px var(--accent-color);
  }

  & .contact{
	font-family: 'Montserrat thin';
	background: var(--blue);
	color: var(--white);
	border-radius: 4px;
	padding: 1em;
	border: none;
	cursor: pointer;
  }

  & .copy-right{
	font-family: 'Oswald Stencil';
  }
}


/**
 * ==============
 *	Light Theme
 * ==============
 * */
.light{
  background-color: var(--white);
  color: var(--secondary-color);

  & .menu{
	  background-color: var(--secondary-light);
	  box-shadow: 2px 0px 3px 4px color-mod(var(--secondary-color) lightness(70%));

	  & .list__item a{
		color: var(--accent-color);
		&:hover {
		  color: color-mod(var(--accent-color) lightness(40%));
		}
	  }

	  & .social__item a {
		color: var(--accent-color);
	  }
  }

  & .biography a, & li:before, & .resume a,
  & .list-skills:before{
	color: var(--accent-color);
  }

  & .footer__title {
	color: var(--accent-color);
	text-shadow: -1px 0px 2px #000;
  }
}

/**
 * =========
 *	@media for device grater than ipad
 *	allocate nav and burger menu.
 * */
@media only screen and (width < 400px){
  .skill-container .skill-col:first-child{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (device-width > 768px) {
 
  .menu-icon{
    display: none;
  }

  .menu{
    flex-direction: row;
    position: relative;
    width: 98%;
    transform: translateX(0px);
    box-shadow: none;
    & .menu__list, & .social-container{
      display: flex;
      margin: 0;
      align-items: center;
      & li, & label {
        margin: 0 .5rem;
      }
    }

    & .social-container a:hover {
      animation: rotate .7s ease-in-out;
    }
  }
  
  /**
  * ==========
  *	Header
  * ===========
  * */
  .wrapper__container{
    display:  grid;
    margin-top: 1.5em;
    gap: 5em;
    grid-template-columns: .5fr 1fr;

    & .title-description{
      align-self: center;
    }
  }

  /**
   * ============
   *  Biography
   * ===========
   * */
  .biography-container{
    display: flex;
    & .photo-me{
      order: -1;
    }
  }

  /**
   * ========
  *   Resume
  * =========
  * */
  .resume__container--skills  {
    display: grid;
    grid-template-columns: 1fr 2fr;

    & .title--skills {
      margin: .5rem;
      grid-column: span 1;
    }

    & .abilities{
      grid-column: 2 / span 1;
      grid-row:  1 / span 2;
      grid-template-columns: 1fr;
      & .title--skills{
        justify-self: center;
      }
    }
  }
}

  @keyframes rotate {
    to {
      transform: rotate(45deg);
    }
    10%{
      transform: rotate(45deg);
    }
    15%{
      transform: rotate(-45deg);
    }
    from {
      transform: rotate(0deg);
    }
  }

