
.nav {
    padding: 2em 0 .8em 0;
    background-color: var(--bg);

    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-content {
    width: calc(90% - 1em);
    margin: auto;
    padding: 1.2em 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg);
    border-radius: 3rem;
    box-shadow: 0 17px 23px -3px rgba(128, 0, 128, 0.3);
    border-top: 1px solid var(--primary);
}

.title {
    background:  linear-gradient(90deg, var(--primary) 0%, var(--accent) 95%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.burger {
    display: none;
}

.nav-item {
    &:hover {
        color: var(--text);
        cursor: pointer;
    }

    a.is-active {
        color: var(--primary);
        transition: color ease-out 0.3s;
    }
}

@media screen and (max-width: 840px){
    .items {
        display: none;
    }

    .burger {
        display: flex;
    }
}