---
import SecctionTitles from "./SecctionTitles.astro";
---

<section>
    <SecctionTitles title="Experience" description="A Brife Of My Professional Journey" />

    <div class="tabs is-centered">
        <ul>
          <li class="is-active"><a>Altimetrik</a></li>
          <li><a>Outbuild</a></li>
          <li><a>Neubox</a></li>
        </ul>
        <div>
            <p>description</p>
            <p>Key Responsabilities:</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div>
            <p>description</p>
            <p>Key Responsabilities:</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div>
            <p>description</p>
            <p>Key Responsabilities:</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div> 
</section>