---
import Navbar from './Navbar.astro';
---

<header>
    <Navbar />

    <section>
        <div>
            <span>Hi I am</span>
            <h1>Edgar Figueroa</h1>

            <h2>Web Enginner</h2>
            <ul>
                <li>linkdin</li>
                <li>github</li>
            </ul>

            <button>Contact me</button>

            <div>
                <div>
                    <span>6</span>
                    <p>expirence</p>
                </div>
                <div>
                    <span>6</span>
                    <p>expirence</p>
                </div>
            </div>
        </div>
        <figure>
            <img src="/images/edgar.png" alt="Edgar Figueroa" />
        </figure>
    </section>
</header>