---
---

<nav class="shadow">
    <h2>EDGAR FIGUEROA</h2>
    <ul>
        <li>
            <a href="#home" class="is-active">Home</a>
        </li>
        <li>
            <a href="#about">About me</a>
        </li>
        <li>
            <a href="#skills">Skills</a>
        </li>
        <li>
            <a href="#expirience">Work Expirience</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
    </ul>
</nav>

<style>
    nav {
        width: calc(100% - 1em);
        margin: 3em auto;
        padding: 1.2em 2em;
        position: relative;
    
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 3rem;
        box-shadow: 0 17px 23px -3px rgba(128, 0, 128, 0.3);
        border-top: 1px solid var(--primary);
    }

    h2 {
        background:  linear-gradient(90deg, var(--primary) 0%, var(--accent) 95%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    li {
        &:hover {
            color: var(--text);
            cursor: pointer;
        }

        a.is-active {
            color: var(--primary);
            transition: color ease-out 0.3s;
        }
    }
</style>

<script>
    document.querySelectorAll('nav ul li a')
        .forEach((link) => link.addEventListener('click', callbackClick));

    function callbackClick(evt: Event): void {
        const target = evt.target as HTMLAnchorElement

        document.querySelectorAll('nav ul li a')
            .forEach((link) => link.classList.remove('is-active'))

        target.classList.add('is-active');
    }
</script>