---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props satisfies Props;
---

<h3>{title}</h3>
<p>{description}</p>

<style>
    h3, p {
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 3%;
    }

    h3  + p {
       margin: 1rem 0;
       color: var(--sub-text);
    }

    p {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 3%;
        text-align: center;
    }
</style>