---
import SecctionTitles from "./SecctionTitles.astro";


---

<section>
    <SecctionTitles title="Skills & tools" description="Profinces and Tools to Deliver Exelence" />

    <div>
        <div>
            <img src="" alt="">
            <h6>Frontend</h6>
            <p>lorem impsum dolor at .</p>
        </div>
        <div>
            <img src="" alt="">
            <h6>Backend</h6>
            <p>lorem impsum dolor at .</p>
        </div>
        <div>
            <img src="" alt="">
            <h6>Database</h6>
            <p>lorem impsum dolor at .</p>
        </div>
        <div>
            <img src="" alt="">
            <h6>Frameworks & Libraries</h6>
            <p>lorem impsum dolor at .</p>
        </div
        <div>
            <img src="" alt="">
            <h6>Other skills</h6>
            <p>lorem impsumdolor at.</p>
        </div>
    </div>
</section>