:root {
  --accent-color: #08fdd8;
  --background-color: #242424;
  --white: #fff;
  --gray: #515152;
  --gray-text: #8d8d8d;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizelegibility;
}

a {
  text-decoration: inherit;
}

figure,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
