---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar/Navbar.tsx";

import { BLOG_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={BLOG_DESCRIPTION} />
	</head>
	<body>
		<Navbar client:visible transition:persist url="blog"/>
		<main>
            <slot />
		</main>
	</body>
	<!-- Google tag (gtag.js) -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-R7E8T7BF73"></script>
	<script>
	window.dataLayer = window.dataLayer || []
	function gtag(){dataLayer.push(arguments)}
	gtag('js', new Date())

	gtag('config', 'G-R7E8T7BF73')
	</script> -->
</html>


