---
import BaseHead from "../components/BaseHead.astro"
import Navbar from "../components/Navbar/Navbar.tsx"

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts"

let url = Astro.url
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    
    <body>
		<Navbar client:visible transition:persist url={url} />
        <slot />
    </body>
</html>